<footer class="footer-fixed bg-dark text-white mt-5 py-4">
    <div class="container text-center">
        <p class="mb-1 fw-semibold">Un création de Guillaume HESS, créateur de Mr.Rétro</p>
    </div>
</footer>