{% extends 'base.html.twig' %}

{% block title %}Zut ! Une erreur est survenue{% endblock %}

{% block body %}

{# Accès à la page 404 en mode dev: https://localhost:8000/_error/404 #}

<div class="text-center">
        <h1>Page non trouvée</h1>
        <h1>Une erreur est survenue</h1>

    <a class="btn btn-primary" href="{{ path('app_home') }}">Retourner a l'accueil</a>
</div>

{% endblock %}